/* Header.css */
.header {
  background-color: #bb1919; /* BBC red */
  color: #fff;
  padding: 0 10px;
  font-family: Arial, sans-serif;
  position: fixed; /* Make the header fixed on top */
  top: 0; /* Stick the header to the top of the viewport */
  left: 0; /* Align the header to the left */
  right: 0; /* Align the header to the right */
  z-index: 1000; /* Ensure the header is above other content */
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
}

.logo {
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 auto; /* Center the logo horizontally */
  padding-left: 35rem;
  padding-top: 2rem;
}

.header-right {
  display: flex;
  align-items: center;
}

.filter-icon,
.search-icon {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  margin-right: 20px;
}

.buttons {
  margin-left: auto; /* Pushes buttons to the right */
}

.buttons button {
  background-color: transparent;
  border: none;
  color: #fff;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  margin-left: 10px; /* Add margin between buttons */
}

.buttons button:last-child {
  margin-left: 0; /* Remove margin from last button */
}

.buttons button:hover {
  text-decoration: underline;
}
