/* UserRegistrationForm.css */

/* Styles for the registration form */
.registration-form {
  width: 400px; /* Set a fixed width */
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

.registration-form h2 {
  text-align: center;
  margin-bottom: 20px;
 
}

.registration-form .form-group {
  margin-bottom: 15px;
}

.registration-form label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.registration-form input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: calc(100% - 22px);
}

/* Center align the Sign Up button */
.registration-form button {
  padding: 10px;
  font-size: 16px;
  background-color: #007bff; 
  color: #fff; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

.registration-form button:hover {
  background-color: #0056b3; 
}

.registration-form .error {
  color: red;
  text-align: center;
}

.registration-form .success {
  color: green;
  text-align: center;
}
